name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH to VPS & Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 103.118.158.166
          username: ubuntu
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            bash /var/www/deploy.sh
